.userCard{
  
   height: 80vh;
   width: 80%;
   background-color: aliceblue;
   border-radius: 10px;
   margin-top: 40px;
}
.users {
  display: flex;
  justify-content: center;

}

.styled-table {
   border-collapse: collapse;
   font-size: 0.9em;
   font-family: sans-serif;
   min-width: 1230px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
   background: rgb(0,31,141);
background: linear-gradient(0deg, rgba(0,31,141,1) 0%, rgba(88,113,245,1) 0%);
   color: #ffffff;
   text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
   border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
   /* border-bottom: 2px solid #009879;
 */
}

.styled-table tbody tr.active-row {
   font-weight: bold;
   color: #009879;
}

.action{
   color: aliceblue;
   border: none;
   width: 3rem;
   height: 1.5rem;
   border-radius: 5px;
}

.deleteButton{
   color: aliceblue;
   border: none;
   width: 3rem;
   height: 1.5rem;
   border-radius: 5px;
   background-color: tomato;
}

.updateButton{
   color: aliceblue;
   border: none;
   width: 3rem;
   height: 1.5rem;
   border-radius: 5px;
   background-color: rgb(255, 179, 2);
}