<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light user-header" >
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
      <button type="submit" class="btn"  style="color: azure; background-color:  #9896f1; margin-right: 10px;">logout</button>
        
        
    </form>
    <form action="/alogin" method="get">
          <button type="submit" class="btn"  style="color: azure; background-color:  #9896f1;">admin</button>
  
    </form>
  </div>
</nav>
</header>



